body {
    margin: 2rem;

}


.counter {

    font-size: 4rem;
}

main {
    background-color: grey;
    height: 100vh;

    background-image: linear-gradient(hotpink, hotpink);
    background-image-size: 0%;
    background-repeat: no-repeat;

}

